.new-collection {
  margin-top: 100px;
  background-color: #999;
  background-image: url("./new-collection.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  height: 512px;
}
