.new {
  padding-top: 60px;
}

.new__title {
  font-family: var(--font-accent);
}

.new__catalog {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.new__subtitle {
  position: absolute;
  bottom: 4px;
}
