@use "./mixins" as bg-text;
.hero {
  margin-top: 15px;
}

.hero__grid {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 15px;
}
.hero__item {
  max-width: max-content;
  height: max-content;

  &:first-child {
    position: relative;
    grid-column: 1/3;
    img {
      height: 100%;
    }
    &::before {
      @include bg-text.bg-text() {
        content: "Футболки";
        left: 5px;
        bottom: 5px;

        width: 204px;
      }
    }
  }
  &:nth-child(2) {
    position: relative;
    &::before {
      @include bg-text.bg-text() {
        content: "Платья";
        right: 5px;
        bottom: 50px;

        width: 162px;
      }
    }
  }
  &:nth-child(3) {
    position: relative;
    &::before {
      @include bg-text.bg-text() {
        content: "Костюмы";
        right: 12px;
        bottom: 2px;

        width: 184px;
      }
    }
  }
  &:nth-child(4) {
    position: relative;
    &::before {
      @include bg-text.bg-text() {
        content: "Низ";
        right: 12px;
        bottom: 25px;
        transform: rotate(-45deg);
        width: 104px;
      }
    }
  }
  &:nth-child(5) {
    position: relative;
    &::before {
      @include bg-text.bg-text() {
        content: "Верх";
        right: 12px;
        top: 17px;
        width: 133px;
      }
    }
  }

  &:last-child {
    grid-column: 3 / 5;
    margin-top: -48px;
    position: relative;
    &::before {
      @include bg-text.bg-text() {
        content: "Худи";
        left: 12px;
        bottom: 80px;
        transform: rotate(40deg);
        width: 133px;
      }
    }
  }
}
